<h1>Lista de Whiskeys (Dados da API C#)</h1>

<h1>The Velvet Note - Admin</h1>

<form (ngSubmit)="onSubmit()">
  <h3>Adicionar Novo Whiskey</h3>
  
  <div>
    <label for="title">Título:</label>
    <input 
      type="text" 
      id="title" 
      name="title" 
      [(ngModel)]="novoPremium.title"
      required 
    />
  </div>

  <button type="submit">Adicionar</button>
</form>

<form (ngSubmit)="onUpdate()" *ngIf="premiumParaEditar">
  <h3>Editando: {{ premiumParaEditar.title }}</h3>
  
  <div>
    <label for="editTitle">Novo Título:</label>
    <input 
      type="text" 
      id="editTitle" 
      name="editTitle" 
      [(ngModel)]="premiumParaEditar.title" 
      required 
    />
  </div>
  
  <button type="submit">Salvar Alterações</button>
  <button type="button" (click)="onCancelEdit()">Cancelar</button> 
</form>

<hr>

<h2>Lista de Whiskeys</h2>
<table border="1">
  </table>


<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Título</th>
      <th>Cliente (Email)</th>
      <th>Data de Início</th>
      <th>Ações</th> </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of premiums">
      <td>{{ p.id }}</td>
      <td>{{ p.title }}</td>
      <td>{{ p.client.email }}</td>
      <td>{{ p.startDate | date: 'dd/MM/yyyy' }}</td>
      <td>
        <button (click)="onEdit(p)">Editar</button>
        <button (click)="onDelete(p.id)">Deletar</button>
      </td>
    </tr>
  </tbody>
</table>